{% extends 'archive/archive_main.html' %}

{% block title %}
    {{ block.super }} - Чертежи
{% endblock %}

{% block content %}
    <h2>Чертежи</h2>

    {% for plan in plans reversed %}
        <div class="row no-gutters bg-light position-relative mb-3">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="/media/{{ plan.image }}" class="w-100" alt="...">
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
                <h5 class="mt-0">{{ plan.name|title }}</h5>
                <p>{{ plan.description|truncatewords:30 }}</p>
                <a href="{{ plan.get_absolute_url }}" class="stretched-link">Подробнее...</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}