{% extends 'archive/archive_main.html' %}

{% block title %}
    {{ block.super }} - чертёж {{ plan.name|title }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 shadow">
            <h2>{{ plan.name|title }}</h2>
            <p>{{ plan.description }}</p>
        </div>

        <div class="col-lg-6">
            <img src="/media/{{ plan.image }}" alt="" class="img-fluid rounded-lg shadow mb-3">
            <p>Автор: {{ plan.author }}</p>
            <a href="/media/{{ plan.file }}" class="btn btn-outline-success btn-lg btn-block">Скачать</a>

        </div>
    </div>

{% endblock %}